.happy_choice {
  position: relative;
  z-index: -1;
}
.selec_1 {
  position: absolute;
  display: inline-block;
  background-color: white;
  height: 150px;
  width: 420px;
  margin-right: 26px;
  border: 1px solid;
}

.selec_2 {
  position: absolute;
    background-color: white;
  display: inline-block;
  height: 200px;
  width: 450px;
}
.hover1 {
  position: absolute;
    background-color: white;
  height: 150px;
  width: 420px;
  margin-right: 26px;
  border: 1px solid;
}
.hover2 {
  position: absolute;
    background-color: white;
  height: 200px;
  width: 450px;
  margin-right: 26px;
}
.happy1_2{
  height: 150px;
  width: 420px;
}
.happy1_1{
  height: 150px;
  width: 420px;
}