.happy_choice {
  position: relative;
  z-index: -1;
}
.selec_1 {
  position: absolute;
  display: inline-block;
  background-color: black;
  height: 200px;
  width: 420px;
  margin-right: 26px;
}

.selec_2 {
  position: absolute;
  display: inline-block;
  background-color: black;
  height: 200px;
  width: 420px;
  margin-left: 26px;
}
.hover1 {
  position: absolute;
  background-color: whitesmoke;
  height: 200px;
  width: 420px;
  margin-right: 26px;
}
.hover2 {
  position: absolute;
  background-color: black;
  height: 200px;
  width: 420px;
  margin-right: 26px;
  background-color: aqua;
}
.hover2:hover {
  display: none;
}
