.bg_1 {
  animation: fadein 1s;
  width: 1920px;
  height: 1080px;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadelick1 {
  animation: fadein 5s;
}
.fadelick {
  animation: fadein 3s;
}
