.nicknameBox {
  width: 900px;
  height: 180px;
  /* background-color: aqua; */
  position: relative;
}

.caracterIcon0 {
  border: 2px solid #4c4c4c;
  border-radius: 10px;
  height: 140px;
  width: 140px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.characterIcon1 {
  display: none;
}

.NnextBtn0 {
  position: absolute;
  background-color: #383838;
  color: whitesmoke;
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  transition: 0.5s ease-in-out;
}
.NnextBtn0:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0px 2px 6px #cecece;
  font-weight: 700;
}
.nextBtn1 {
  display: none;
}

.dialog_wagi1 {
  animation: fadein 3s;
  font-family: "ongeul";
  position: absolute;
  text-align: left;
  top: 33px;
  left: 240px;
  font-size: 32px;
}

.dialog_oneline {
  animation: fadein 3s;
  font-family: "ongeul";
  position: absolute;
  top: 50.5px;
  left: 240px;
  font-size: 32px;
}
.gonguh {
  width: 140px;
  top: 40px;
  left: 40px;
  position: absolute;
}
.wagi {
  width: 280px;
  position: absolute;
  top: -30px;
  left: -42px;
}

.nicknameInput {
  width: 200px;
  height: 30px;
  font-size: 28px;
  font-family: "ongeul";
}

@font-face {
  font-family: "ongeul";
  src: url("./ongeul.ttf");
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.choiceSex {
  width: 200px;
  height: 200px;
  background-color: aliceblue;
  display: inline-block;
}
