.Container_m {
  max-height: 1080px;
  background-color: white;
  position: relative;
  margin: 0 0;
}

.maincomp {
}

.Content_box {
  /* background-image: url("./box1.png");
  background-position: center;
  background-size: 86%;
  background-repeat: no-repeat; */
  border-radius: 16px;
  width: 1920px;
  height: 1080px;
  margin: 0px auto;
  border: none;
  position: relative;
  box-shadow: 0px 4px 12px #cecece;
  margin-bottom: -40px;
}

.playlist {
  position: absolute;
  margin-left: 100px;
  width: 200px;
  height: 400px;
  z-index: -100;
}
.playlistBox {
  font-size: 12px;

  background-color: whitesmoke;
  border: none;
  width: 80px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px #464646;
}

.textNselect {
  position: absolute;
  /* background-color: white; */
  width: 900px;
  height: 200px;
  margin: 10px auto;
  border-radius: 20px;
  bottom: 40px;
  left: 510px;
  /* border: 2px solid #383838; */
  /* border: none;
  box-shadow: 2px 4px 12px #646464; */
}

@keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
