.wrap {
  position: relative;
  width: 360px;
  height: 180px;
  right: 50px;
  margin: 50px auto;
  border-radius: 20px;
  perspective: 500px;
  cursor: pointer;
  display: inline-block;
}

.card {
  width: 100%;
  height: 100%;
  transition: all 1.5s;
  transform-style: preserve-3d;
}

.wrap:hover .card {
  transform: rotateY(180deg);
}

.card > div {
  font-family: "ongeul";
  position: absolute;
  top: -40px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 12px;
  backface-visibility: hidden;
}

.card-front {
  box-shadow: 0px 2px 6px #cecece;
  background-color: whitesmoke;
  z-index: 10;
}

.card-back {
  box-shadow: 0px 2px 6px #cecece;
  background-color: whitesmoke;
  z-index: 5;
  transform: rotateY(180deg);
}

.wrap2 {
  position: relative;
  width: 360px;
  height: 180px;
  left: 50px;
  margin: 50px auto;
  border-radius: 12px;
  perspective: 500px;
  cursor: pointer;
  display: inline-block;
}

.card2 {
  width: 100%;
  height: 100%;
  transition: all 1.5s;
  transform-style: preserve-3d;
}

.wrap2:hover .card2 {
  transform: rotateY(180deg);
}

.card2 > div {
  font-family: "ongeul";
  position: absolute;
  top: -40px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 12px;
  backface-visibility: hidden;
}

.card-front2 {
  box-shadow: 0px 2px 6px #cecece;
  background-color: whitesmoke;
  z-index: 10;
}

.card-back2 {
  box-shadow: 0px 2px 6px #cecece;
  background-color: whitesmoke;
  z-index: 5;
  transform: rotateY(180deg);
}
.carddeco {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 80%;
}

.happy_choice {
  position: relative;
  z-index: -1;
}
.happy1 {
  height: 200px;
  width: 420px;
  z-index: 4;
}

.coverdeco {
  max-width: 160px;
  opacity: 40%;
}

@font-face {
  font-family: "ongeul";
  src: url("../Components/Nickname/ongeul.ttf");
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadelick {
  animation: fadein 3s;
}

.script {
  font-size: 32px;
  /* margin: 64px auto; */
  position: absolute;
  bottom: 40px;
  right: 93px;
}
.tscript {
  font-size: 26px;
  /* margin: 64px auto; */
  position: absolute;
  bottom: -10px;
  right: 10px;
}
.cscript {
  font-size: 32px;
  /* margin: 64px auto; */
  position: absolute;
  bottom: 40px;
  right: 85px;
}
.bscript {
  font-size: 22px;
  /* margin: 64px auto; */
  position: absolute;
  bottom: -10px;
  right: 10px;
}

.script2 {
  margin: 64px auto;
}

.chtext1 {
  font-size: 32px;
}

.mchoice {
  max-width: 360px;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.schoice {
  max-width: 360px;
  max-height: 180px;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  top: 0;
  left: 0;
  border-radius: 12px;
}

.terucard {
  max-width: 300px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 30px;
}
.terucard1 {
  max-width: 300px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 30px;
}
