.c2boynextBtn0 {
  animation: fadein 3s;
  position: absolute;
  box-shadow: 0px 2px 6px #cecece;
  background-color: #383838;
  color: whitesmoke;
  border: none;
  font-size: 12px;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  bottom: 40px;
  right: 80px;
  transition: 0.5s ease-in-out;
}

.c2boynextBtn0:hover {
  background-color: #b4a995;
  color: whitesmoke;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0px 2px 6px #cecece;
  font-weight: 700;
}

.c2girlnextBtn0 {
  animation: fadein 3s;
  position: absolute;
  box-shadow: 0px 2px 6px #cecece;
  color: #383838;
  border: none;
  font-size: 12px;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  bottom: 40px;
  right: 80px;
  transition: 0.5s ease-in-out;
}

.c2girlnextBtn0:hover {
  background-color: #b4a995;
  color: whitesmoke;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0px 2px 6px #cecece;
  font-weight: 700;
}

.forFade_b {
  animation: fadein 1s;
  background-color: #fcfbf9;
  width: 900px;
  height: 200px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 6px #cecece;
}
.forFade_g {
  animation: fadein 1s;
  background-color: whitesmoke;
  width: 900px;
  height: 200px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 6px #cecece;
}

.forFade_mood {
  animation: fadein 1s;
}

.c2boynextBtn1 {
  display: none;
}
.c2girlnextBtn1 {
  display: none;
}

.CP2_UPPER {
  width: 900px;
  height: 200px;
  position: relative;
}

.dialog_oneline {
  animation: fadein 3s;
  font-family: "ongeul";
  position: absolute;
  top: 50.5px;
  left: 240px;
  font-size: 32px;
}

.dialog_long {
  text-align: left;
  animation: fadein 1s;
  font-family: "ongeul";
  position: absolute;
  top: 33px;
  left: 240px;
  font-size: 32px;
}

.CH_BOX {
  width: 240px;
  height: 200px;
  background-color: #fcfbf9;
  display: inline-block;
  margin: 0 30px;
  border-radius: 12px;
  position: relative;
  border: none;
  box-shadow: 0px 2px 6px #cecece;
  transition: 1.5s ease-in;
}
.CH_BOX:hover {
  background-color: #fffbf0;
  transform: scale(1.01);
  box-shadow: 0px 2px 6px #cecece;
  transition: 0.5s ease-in;
}

.chdeco {
  max-width: 240px;
  position: absolute;
  top: 0;
  left: 0;
}

.CH_BOX:hover {
  transform: scale(1.1);
  transition: 1.5s ease-in;
}

/* .CH_BOX > p {
  font-size: 32px;
  font-family: "ongeul";
  position: absolute;
  top: 0;
  left: 73px;
  margin: auto auto;
} */

@font-face {
  font-family: "ongeul";
  src: url("../Components/Nickname/ongeul.ttf");
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.deco {
  max-width: 900px;
  opacity: 70%;
}

.fadelick {
  animation: fadein 5s;
}

.choiceNo2 {
  position: relative;
  width: 240px;
  height: 200px;
  background-color: #fcfbf9;
  display: inline-block;
  margin: 0 40px;
  border-radius: 12px;
  position: relative;
  border: none;
  box-shadow: 0px 2px 6px #cecece;
  transition: 0.5s ease-in;
}
.choiceNo2:hover {
  background-color: #fffbf0;
  transition: 0.5s ease-in;
  transform: scale(1.02);
}
/* .choiceNo1 > p {
  font-family: "ongeul";
  position: absolute;
  font-size: 32px;
  top: 50px;
  left: 68px;
} */

.yesp {
  font-family: "ongeul";
  position: absolute;
  font-size: 32px;
  top: 50px;
  left: 82px;
}
.nop {
  font-family: "ongeul";
  position: absolute;
  font-size: 32px;
  top: 50px;
  left: 56px;
}

.yesp_bd {
  font-family: "ongeul";
  position: absolute;
  font-size: 32px;
  top: 50px;
  left: 82px;
}

.nop_bd {
  font-family: "ongeul";
  position: absolute;
  font-size: 32px;
  top: 50px;
  left: 67px;
}

.watachat {
  max-width: 200px;
  position: absolute;
  top: 0;
  left: 10px;
}
.wagichat {
  max-width: 200px;
  position: absolute;
  top: 0;
  left: 10px;
}
.rtrchat1 {
  max-width: 200px;
  position: absolute;
  top: 0;
  left: 10px;
}
.ckchat1 {
  max-width: 200px;
  position: absolute;
  top: 0;
  left: 10px;
}
.bdchat {
  max-width: 200px;
  position: absolute;
  top: 0;
  left: 10px;
}

.moodText1 {
  font-family: "ongeul";
  font-size: 32px;
  position: absolute;
  top: 20px;
  left: 73px;
}
.moodText2 {
  font-family: "ongeul";
  font-size: 28px;
  position: absolute;
  top: 100px;
  left: 63px;
}
.moodText3 {
  font-family: "ongeul";
  font-size: 28px;
  position: absolute;
  top: 100px;
  left: 58px;
}
.moodText4 {
  font-family: "ongeul";
  font-size: 32px;
  position: absolute;
  top: 20px;
  left: 54px;
}

.yesp_bell {
  font-family: "ongeul";
  position: absolute;
  font-size: 32px;
  top: 50px;
  left: 79px;
}

.nop_bell {
  font-family: "ongeul";
  position: absolute;
  font-size: 32px;
  top: 50px;
  left: 86px;
}

.goToHome {
  position: absolute;
  top: -740px;
  left: -420px;
  width: 200px;
  height: 60px;
  background-color: whitesmoke;
  color: #383838;
  border: none;
  border-radius: 40px;
  font-size: 36px;
  font-family: "ongeul";
  transition: 0.8s ease-in;
}
.goToHome:hover {
  transform: scale(1.05);
  transition: 0.8s ease-in;
  background-color: #b4a995;
  color: whitesmoke;
}
