.btn-open-popup {
  display: inline-block;
  margin: 50px 50px;
  width: 500px;
  height: 550px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 2px 6px #cecece;
  background-color: #fcfbf9;
  position: relative;
}
.poptext {
  margin: 60px auto;
  font-family: "ongeul";
  font-size: 32px;
}
.popbg {
  z-index: -1;
  width: 145%;
  position: absolute;
  top: 0;
  left: -330px;
}
.popbg2 {
  z-index: -1;
  width: 130%;
  position: absolute;
  top: -60px;
  left: -330px;
}
.wagiwata {
  bottom: 2%;
  position: absolute;
}
.first-ptag {
  font-size: 60px;
  font-family: "ongeul";
  margin-top: 80%;
  margin-bottom: 0%;
}
.second-ptag {
  margin: 0 0 0 0;
  font-size: 45px;
  opacity: 0.7;
  font-family: "ongeul";
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ModalWrap {
  animation: fadein 2s;
  overflow: hidden;
  position: relative;
  height: fit-content;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  width: 1200px;
  height: 620px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.CloseButton {
  background-color: #f5f5f5;
  border: none;
  border-radius: 100px;
  height: 50px;
  position: absolute;
  font-family: "ongeul";
  font-size: 22px;
  right: 530px;
  letter-spacing: 1px;
  bottom: 40px;
  transition: 0.5s ease-in;
  width: 140px;
  z-index: 10;
}
.CloseButton:hover {
  transition: 0.5s ease-in;
  transform: scale(1.05);
}

.topnav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 10%;
  top: 0;
}
.topnav img {
  text-align: center;
}
.all-gallery {
  width: 100%;
  height: 50%;
  margin-top: 10%;
}

.refresh {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 100px;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  font-family: "ongeul";
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: whitesmoke;
  background-color: #383838;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.refresh:hover {
  background-color: gray;
  box-shadow: 0px 15px 20px;
  color: #fff;
}

@font-face {
  font-family: Date Fruit Days;
  src: url("../Components/Home/Date\ Fruit\ Days.otf");
}

.download {
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 100px;
  font-family: "ongeul";
  font-size: 22px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 40px;
  left: 36%;
}

.Loding {
  margin: 0px 2px;
  padding-right: 20px;
  float: left;
  outline: 1px solid transparent;
  font-family: "Date\ Fruit\ Days";
  font-size: 80px;
  animation: animationName 1s 0s infinite ease-in-out alternate;
}

.Loding:nth-child(2) {
  animation-delay: 0.2s;
}
.Loding:nth-child(3) {
  animation-delay: 0.3s;
}
.Loding:nth-child(4) {
  animation-delay: 0.4s;
}
.Loding:nth-child(5) {
  animation-delay: 0.5s;
}
.Loding:nth-child(6) {
  animation-delay: 0.6s;
}
.Loding:nth-child(7) {
  animation-delay: 0.7s;
}
.Loding:nth-child(8) {
  animation-delay: 0.8s;
}
.Loding:nth-child(9) {
  animation-delay: 0.9s;
}
.Loding:nth-child(10) {
  animation-delay: 1s;
}
.Loding:nth-child(11) {
  animation-delay: 1.1s;
}
.Loding:nth-child(12) {
  animation-delay: 1.2s;
}

@keyframes animationName {
  0% {
    margin: 0px 2px;
  }
  70% {
    margin: 200px 2px;
  }
  100% {
    margin: 180px 2px;
  }
}
.centering {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}
.all-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 9997;
}

.terumotion {
  position: absolute;
  max-width: 320px;
  z-index: 1;
  left: 152px;
  top: -50px;
}
.bdmotion {
  position: absolute;
  max-width: 320px;
  top: 154px;
  left: 160px;
  z-index: 1;
}
.ckmotion {
  position: absolute;
  max-width: 320px;
  left: 688px;
  top: 70px;
  z-index: 1;
}
.watagimotion {
  position: absolute;
  max-width: 320px;
  top: 90px;
  left: 392px;
  z-index: 1;
}
.Contents {
  position: relative;
}
